/**
 * Default component style
 *
 */

.Default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: $default-backgroundColor;

    &_wrapper {
        margin: auto;
    }

    &_box{
        margin-bottom: 1rem;
        width: 4rem;    height: 14rem;
        background-color: $primaryColor-dark;
    }

    &_info,
    &_key {
        color: $primaryColor-dark;
        text-align: center;
    }
}
